<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ol>
</div>
<div id="app-5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">旋转地球</button>

</div>

<div id="app-6">
   <p>{{message}}</p>
    <input v-model="message">
</div>

<div id="app-7">
    <p>{{now}}</p>
</div>

<ul id="v-for-object" class="demo">
    <li v-for="(value,key,index) in object">
        {{index}}*{{key}}:{{ value }}
    </li>
</ul>

<li v-for="n in evenNumbers" id="li">{{ n }}</li>
<div>
    <span v-for="n in 10">{{ n }} </span>
</div>
<script type="text/javascript">
    var x=new Vue({
        el:'#li',
        data: {
            numbers: [ 1, 2, 3, 4, 5 ]
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    });
    new Vue({
        el: '#v-for-object',
        data: {
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    });
    var app7=new Vue({
        el:'#app-7',
        computed:{
            now:function () {
                return Date.now().toString()
            }
        }
    });

    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                {text: '学习vue'},
                {text: '学习py'}
            ]
        }
    });
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'hello vue.js'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    });
    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        }
    })
</script>

</body>
</html>
